/* stylelint-disable selector-type-no-unknown */

page,
page::before,
page::after,
view,
view::before,
view::after,
button,
button::before,
button::after,
image,
image::before,
image::after,
text,
text::before,
text::after,
input,
input::before,
input::after,
canvas,
canvas::before,
canvas::after,
swiper,
swiper::before,
swiper::after,
swiper-item,
swiper-item::before,
swiper-item::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
