@font-face {
  font-family: "iconfont"; /* Project id 2338155 */
  src: url('//at.alicdn.com/t/font_2338155_zut5syo36l.woff2?t=1620959671680') format('woff2'),
       url('//at.alicdn.com/t/font_2338155_zut5syo36l.woff?t=1620959671680') format('woff'),
       url('//at.alicdn.com/t/font_2338155_zut5syo36l.ttf?t=1620959671680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin-copy:before {
  content: "\e610";
}

.icon-weixin2:before {
  content: "\e62e";
}

.icon-weixin3:before {
  content: "\e69f";
}

.icon-reloadtime:before {
  content: "\e789";
}

.icon-star:before {
  content: "\e7df";
}

.icon-ziyuan153:before {
  content: "\e76e";
}

.icon-ziyuan128:before {
  content: "\e783";
}

.icon-xinxi:before {
  content: "\e66b";
}

.icon-ren-copy:before {
  content: "\e66a";
}

.icon-shu:before {
  content: "\e60b";
}

.icon-diqiu:before {
  content: "\e60d";
}

.icon-zan1:before {
  content: "\e65e";
}

.icon-zhuanfa:before {
  content: "\ebc6";
}

.icon-forward:before {
  content: "\e60a";
}

.icon-jiqiren1:before {
  content: "\e61b";
}

.icon-star_huaban1fuben2:before {
  content: "\e606";
}

.icon-0023:before {
  content: "\e659";
}

.icon-iconfontyoujiantou:before {
  content: "\e609";
}

.icon-show_yinsizhengce_fill:before {
  content: "\e605";
}

.icon-kefu:before {
  content: "\e65b";
}

.icon-lishi:before {
  content: "\e75f";
}

.icon-xieyi:before {
  content: "\e60c";
}

.icon-ai-connection:before {
  content: "\e662";
}

.icon-fenxiang:before {
  content: "\e63c";
}

.icon-zan:before {
  content: "\e64f";
}

.icon-guanbi:before {
  content: "\e608";
}

.icon-bofang2:before {
  content: "\e67b";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-xueyuan-dakakecheng:before {
  content: "\e6c1";
}

.icon-hot:before {
  content: "\e63e";
}

.icon-nanzhi:before {
  content: "\e627";
}

.icon-nvzhi:before {
  content: "\e628";
}

.icon-bofang:before {
  content: "\e62d";
}

.icon-bofangshu:before {
  content: "\e665";
}

.icon-jiahao:before {
  content: "\e603";
}

.icon-gerenyonghutouxiang2:before {
  content: "\e7e5";
}

.icon-geren11:before {
  content: "\e62c";
}

.icon-shoucang-collect:before {
  content: "\e623";
}

.icon-shoucang:before {
  content: "\e60e";
}

.icon-dakaideshu:before {
  content: "\e67a";
}

.icon-dakaideshu1:before {
  content: "\e69e";
}

.icon-network:before {
  content: "\e95f";
}

.icon-network-full:before {
  content: "\e960";
}

.icon-compass:before {
  content: "\e77d";
}

.icon-message:before {
  content: "\e78a";
}

.icon-compass-fill:before {
  content: "\e846";
}

.icon-message-fill:before {
  content: "\e84a";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-jiqiren:before {
  content: "\e657";
}

.icon-loading:before {
  content: "\e600";
}

.icon-loading1:before {
  content: "\e601";
}

.icon-font43:before {
  content: "\e602";
}

.icon-shibai1:before {
  content: "\e6f9";
}

.icon-sync:before {
  content: "\e786";
}

.icon-reload:before {
  content: "\e788";
}

.icon-xingxing:before {
  content: "\e62b";
}

.icon-like:before {
  content: "\e692";
}

.icon-thin-_bookmarks_:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e626";
}

.icon-keji:before {
  content: "\e638";
}

.icon-008duihuakuang-4:before {
  content: "\e804";
}

.icon-fankaishu:before {
  content: "\e649";
}

.icon-fenxiang01:before {
  content: "\e6d1";
}
