$colorPrimary: #2C6AFA; // 主题蓝色
$colorSuccess: #22AC38; // 成功颜色 绿色
$colorWarning: #F19C05; // 警告颜色 黄色
$colorFailed: #E50518; // 失败颜色 红色

$colorText1: #333333; // 主要文本颜色
$colorText2: #666666; // 主要文本颜色
$colorText3: #9A9A9C; // 次要文本颜色
